---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@layouts/Header.astro";
import HomeHero from "@components/sections/HomeHero.astro";
---

<BaseLayout title="ZapolyarnyDev">
  <Header currentPath="/" />

  <main>
    <HomeHero />
  </main>
</BaseLayout>
